{% extends 'contests/layout.html' %}

{% block content %}
  <div class="container" style="padding: 10px">
    {% include 'contests/contests_nav.html' %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div class="card">
      <div class="card-header">
        Current or upcoming contests
      </div>
      <div class="card-body p-0">
        <table class="table table-sm table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Writers</th>
            <th>Start</th>
            <th>Length</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          {% for contest in current_contests %}
            <tr>
              <td>{{ contest.name }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        Past contests
      </div>
      <div class="card-body p-0">
        <table class="table table-sm table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Writers</th>
            <th>Start</th>
            <th>Length</th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}