{% extends 'problemset/layout.html' %}


{% block content %}
  <div class="container" style="padding-top: 12px">
    {% include 'problemset/problemset_nav.html' %}
    <h3 class="h3"><small class="text-muted">Task </small> {{ task.name }}</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <hr/>
    <h4 class="h6">Pdf Statements:</h4>
    <ul>
      {% for statement in task.problem.statement_set.all %}
        <li><a href="/media/{% if statement.pdf_statement %}{{ statement.pdf_statement }}{% endif %}">{{ statement.name }}</a></li>
      {% endfor %}
    </ul>
    <hr/>
    <h6 class="h6">Examples:</h6>
    <table class="table table-bordered table-sm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Input</th>
        <th scope="col">Output</th>
      </tr>
      </thead>
      <tbody>
      {% for test in task.problem.get_example_tests %}
        <tr>
          <td>{{ test.pk }}</td>
          <td>
            <pre>{{ test.data }}</pre>
          </td>
          <td>
            <pre>{{ test.example_answer }}</pre>
          </td>
          <div class="col-sm6"></div>
          <div class="col-sm6"></div>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div>
      <hr/>
      <h5 class="h5">Submit solution:</h5>
      <form class="" method="POST" action="{% url "problemset.views.submit" pk=task.pk %}">
        {% csrf_token %}
        <div class="form-group mx-sm-2 mb-2">
          <label for="submission_type">Language</label>
          <select id="submission_type" required name="submission_type" class="form-control">
            {% for i in Submission.SUBMISSION_TYPES %}
              <option value="{{ i|first }}">{{ i|last }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group mx-sm-2 mb-2">
          <label for="data">Solution</label>
          <textarea required class="form-control" id="data" name="data" rows="12"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}