{% extends 'contests/layout.html' %}

{% block content %}
  <div class="container" style="padding: 10px">
    {% include 'contests/contests_nav.html' %}
    {% include 'contests/contest/manage/manage_nav.html' %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div class="container-center">
      <h3 class="h3">Create Contest</h3>
      <form method="POST" action="{% url "contests.views.create_contest" %}"
            style="width: 256px; display: flex; flex-direction: column; align-items: center">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Name:</label>
          <input value="{% if form.name.value %}{{ form.name.value }}{% endif %}" class="form-control" name="name"
                 id="name" autocomplete="off">
          <small id="name" class="form-text text-muted">This name will be displayed</small>
        </div>
        {{ form.errors }}
        <button type="submit" class="btn btn-success">Create</button>
      </form>
    </div>
  </div>
{% endblock %}