{% extends 'contests/layout.html' %}

{% load tz %}

{% block content %}
  <div class="container" style="padding: 10px">
    {% include 'contests/contests_nav.html' %}
    {% include 'contests/contest/manage/manage_contest_nav.html' %}

    <h3 class="h3">
      <small class="text-muted">Contest </small> {{ contest.name }}
    </h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div>
      <form method="post" action="{% url 'contests.views.manage_contest' pk=contest.pk %}">
        {% csrf_token %}
        <div class="form-group mx-sm-2 mb-2">
          <label for="name" class="">Name:</label>
          <input value="{{ contest.name }}" class="form-control" name="name" id="name"
                 autocomplete="off">
        </div>
        <div class="form-check mx-sm-2 mb-2">
          <input class="form-check-input" type="checkbox" {% if contest.is_ioi_style %} checked {% endif %}
                 id="is_ioi_style"
                 name="is_ioi_style">
          <label class="form-check-label" for="is_ioi_style">
            Is ioi style
          </label>
        </div>
        <div class="form-check mx-sm-2 mb-2">
          <input class="form-check-input" type="checkbox" {% if contest.is_public %} checked {% endif %}
                 id="is_public"
                 name="is_public">
          <label class="form-check-label" for="is_public">
            is public
          </label>
        </div>
        <div class="form-group mx-sm-2 mb-2">
          <label for="start_date_time" class="">Start Date:</label>
          <input class="form-control" name="start_date_time" id="start_date_time"
                 autocomplete="off">
          <small>All times are in UTC timezone<strong>
            server time: {% now "d.m.y H:i:s" %}</strong></small>
        </div>
        <div class="form-group mx-sm-2 mb-2">
          <label for="duration" class="">Duration in seconds:</label>
          <input value="{{ contest.duration }}" class="form-control" name="duration" id="duration"
                 autocomplete="off" type="number">
        </div>
        {{ form.errors }}
        <button type="submit" class="btn btn-sm btn-block btn-primary mb-2 mx-2">Save</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
      $(document).ready(() => {
          flatpickr("#start_date_time", {
              enableTime: true,
              time_24hr: true,
              defaultDate: "{{ contest.start_date_time|date:"d/m/Y H:i" }}",
              dateFormat: "d/m/Y H:i",
          })
      })
  </script>
{% endblock %}