{% extends 'contester/layout.html' %}

{% block content %}
  <div class="container" style="padding-top: 12px;">
    {% include 'contester/contests_nav.html' %}
    {% include 'contester/contest/manage/manage_contest_nav.html' %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <h4 class="h4">Contest Tasks</h4>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contester.views.add_contest_task' pk=contest.pk %}">Add Task</a>
      </li>
    </ul>
    <table class="table table-hover table-striped table-sm table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Problem Name</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody id="tasks_list">
      {% for task in tasks %}
        <tr
            {#                  onclick="document.location = '{% url 'polygon.views.test' problem_id=problem.pk pk=test.pk %}';"#}
            style="cursor: move" id="task-{{ task.pk }}">
          <td>{{ task.index }}</td>
          <td>{{ task.name }}</td>
          <td>
            {% if task.problem %}
              <a href="{% url 'polygon.views.problem' pk=task.problem.pk %}">{{ task.problem.name }}</a>
            {% endif %}
          </td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-sm btn-primary"
                 href="{% url 'contester.views.manage_contest_task' contest_id=contest.pk pk=task.pk %}">edit</a>
              <a class="btn btn-sm btn-danger"
                 href="{% url 'contester.views.delete_contest_task' contest_id=contest.pk pk=task.pk %}">delete</a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block script %}
  <style>
    .selected {
      background-color: #007bff40 !important;
    }
  </style>
  <script defer>
      function commitTaskReorder() {
          let taskElements = document.getElementById('tasks_list').children;
          let newOrder = {};
          for (let i = 0; i < taskElements.length; ++i) {
              newOrder[taskElements[i].id.substr(5)] = i;
          }
          axios.defaults.xsrfHeaderName = "X-CSRFToken";
          axios.defaults.xsrfCookieName = 'csrftoken';
          document.getElementById('block-ui-loading').hidden = false;
          axios.post('{% url 'contester.views.reorder_tasks' pk=contest.pk %}', newOrder).then(() => {
              window.location.reload();
          });
      }

      $(document).ready(() => {
          let tasks_list = document.getElementById('tasks_list');
          let sortable_tasks_list = Sortable.create(tasks_list, {
              animation: 150,
              multiDrag: true,
              selectedClass: 'selected',
              ghostClass: 'selected',
              onUpdate: function (evt) {
                  commitTaskReorder();
              },
          });
      });
  </script>
{% endblock %}