{% extends 'problemset/layout.html' %}

{% load static %}


{% block content %}
  <div class="container" style="padding-top: 12px">
    {% include 'problemset/problemset_nav.html' %}
    <h4 class="h4">Submission # {{ problemset_submission.pk }} to
      Task {{ subproblemset_ission.problemset_task.name }}</h4>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <hr/>
    <div>
      <h4 class="h4 {% if submission.tested and submission.verdict == Submission.OK %}text-success{% endif %}">Verdict: {{ submission.get_verdict }}</h4>
      <h5 class="h5">data:</h5>
      <div id="data">{{ submission.data }}</div>
      <pre>{{ submission.verdict_description }}</pre>
      <script src="{% static 'ace/ace.js' %}"></script>
      <script>
          let editor = ace.edit("data");
          editor.container.style.height = "512px";
          editor.setTheme("ace/theme/gob");
          {#editor.session.setMode("ace/mode/c_cpp");#}
          editor.setReadOnly(true);
      </script>
    </div>
  </div>
{% endblock %}