{% extends 'polygon/layout.html' %}

{% block content %}
  <div class="container" style="padding-top: 12px;">
    {% include 'polygon/polygon_nav.html' %}
    {% include 'polygon/problem/problem_nav.html' %}
    <h4 class="h4">Generators</h4>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'polygon.views.create_generator' pk=problem.pk %}">Create Generator</a>
      </li>
    </ul>
    <table class="table table-hover table-striped table-sm">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for generator in generators %}
        <tr onclick="document.location = '{% url 'polygon.views.generator' problem_id=problem.pk pk=generator.pk %}';"
            style="cursor: pointer">
          <td>{{ generator.pk }}</td>
          <td>{{ generator.name }}</td>
          <td><a href="{% url 'polygon.views.delete_generator' problem_id=problem.pk pk=generator.pk %}"
                 class="">delete</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}