<ul class="nav justify-content-end">
  <li class="nav-item">
    <span class="nav-link">Problem {{ problem.name }}</span>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'polygon.views.problem' pk=problem.pk %}">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'polygon.views.test_submission' pk=problem.pk %}">Test Submission</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'polygon.views.files' pk=problem.pk %}">Files</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'polygon.views.statements' pk=problem.pk %}">Statements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'polygon.views.tests' pk=problem.pk %}">Tests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'polygon.views.generators' pk=problem.pk %}">Generators</a>
  </li>
</ul>