{% extends 'polygon/layout.html' %}

{% load static %}

{% block content %}
  <div class="container" style="padding-top: 12px;">
    {% include 'polygon/polygon_nav.html' %}
    {% include 'polygon/problem/problem_nav.html' %}
    <h3 class="h3"><small class="text-muted">Problem </small> {{ problem.name }}</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div>
      <form class="" method="POST" action="{% url "polygon.views.problem" problem.pk %}">
        {% csrf_token %}
        <div class="form-group mx-sm-2 mb-2">
          <label for="name" class="">Name:</label>
          <input value="{{ problem.name }}" class="form-control" name="name" id="name">
          <small id="name" class="form-text text-muted">Use lowercased words, separated by dash. Examples: books,
            minimal-spanning-tree, stamps-3</small>
        </div>
        <div class="form-group mx-sm-2 mb-2">
          <label for="time_limit" class="">Time limit: </label>
          <input value="{{ problem.time_limit }}" type="number" class="form-control" name="time_limit" id="time_limit">
          <small class="form-text text-muted">in seconds, Fractional numbers are allowed</small>
        </div>
        <div class="form-group mx-sm-2 mb-2">
          <label for="memory_limit" class="">Memory limit:</label>
          <input value="{{ problem.memory_limit }}" type="number" class="form-control" name="memory_limit"
                 id="memory_limit">
          <small class="form-text text-muted">in kilobytes</small>
        </div>

        <div class="form-check mx-sm-2 mb-2">
          <input class="form-check-input" type="checkbox" {% if problem.is_active %} checked {% endif %} id="is_active"
                 name="is_active">
          <label class="form-check-label" for="is_active">
            Is ready
          </label>
        </div>
        <div class="form-check mx-sm-2 mb-2">
          <input class="form-check-input" type="checkbox" {% if problem.is_interactive %} checked {% endif %} id="is_interactive"
                 name="is_interactive">
          <label class="form-check-label" for="is_interactive">
            Is interactive
          </label>
        </div>
        <hr/>
        <div class="form-group mx-sm-2 mb-4">
          <label for="solution" class="h4">Solution:</label>
          <div class="alert-info alert">Only C++ solution.</div>
          <textarea class="form-control" id="solution" name="solution" rows="3">{{ problem.solution }}</textarea>
        </div>
        <hr/>
        <div class="form-group mx-sm-2 mt-4 mb-2">
          <label for="checker" class="h4">Checker:</label>
          <div class="alert-info alert">Use C++ and <a href="https://github.com/MikeMirzayanov/testlib">testlib.h</a> for creating checker.</div>
          <textarea class="form-control" id="checker" name="checker" rows="3">{{ problem.checker }}</textarea>
        </div>
        <hr/>
        <div class="form-group mx-sm-2 mt-4 mb-2" {% if not problem.is_interactive %}style="display: none;"{% endif %}>
          <label for="interactor" class="h4">Interactor:</label>
          <div class="alert-info alert">
            Only C++ solution with <a href="https://github.com/MikeMirzayanov/testlib">testlib.h</a>.<br/>
            Fill only if problem is interactive.
          </div>
          <textarea class="form-control" id="interactor" name="interactor" rows="3">{{ problem.interactor }}</textarea>
        </div>
        {#        {{ form.as_p }}#}
        <button type="submit" class="btn btn-lg btn-block btn-primary mb-2 mx-2">Update</button>
      </form>
    </div>
    {#    <div>#}
    {#      <h4 class="h4">Generators</h4>#}
    {#      <ul class="nav justify-content-end">#}
    {#        <li class="nav-item">#}
    {#          <a class="nav-link" href="{% url 'polygon.views.create_problem' %}">Create Generator</a>#}
    {#        </li>#}
    {#      </ul>#}
    {#    </div>#}
  </div>
{% endblock %}
{% block script %}
  <script src="{% static 'ace/ace.js' %}"></script>
  <script>
      function createEditorFromTextArea(name, height = "512px") {
          // find the textarea
          let textarea = document.querySelector("form textarea[name=" + name + "]");

          // create ace editor
          let editor = ace.edit();
          editor.session.setMode("ace/mode/c_cpp");
          {#editor.session.setMode();#}
          editor.setTheme("ace/theme/monokai");
          editor.container.style.height = height;
          editor.session.setUseWrapMode(true);
          editor.session.setValue(textarea.value);
          // replace textarea with ace
          textarea.parentNode.insertBefore(editor.container, textarea);
          textarea.style.display = "none";
          // find the parent form and add submit event listener
          let form = textarea;
          while (form && form.localName !== "form") form = form.parentNode;
          form.addEventListener("submit", function () {
              // update value of textarea to match value in ace
              textarea.value = editor.getValue()
          }, true)
      }

      createEditorFromTextArea('solution');
      createEditorFromTextArea('checker');
      createEditorFromTextArea('interactor');

      $(document).ready(function(){
          $('#is_interactive').change(function(){
              if(this.checked)
                  $('.form-group:has(#interactor)').show();
              else
                  $('.form-group:has(#interactor)').hide();

          });
      });
  </script>
{% endblock %}