<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="{% url "problemset.views.tasks" %}">Tasks</a>
  </li>
  {% if user.problemsetuserprofile %}
    <li class="nav-item">
      <a class="nav-link active" href="{% url "problemset.views.my_submissions" %}">My Submissions</a>
    </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link active" href="{% url "problemset.views.submissions" %}">Status</a>
  </li>
  {% if user.problemsetuserprofile %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'problemset.views.user_profile' username=user.username %}">My Profile</a>
    </li>
  {% endif %}
  {% if user.is_staff %}
    <li class="nav-item">
      <a class="nav-link active" href="{% url "problemset.views.manage_tasks" %}">Manage Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url "problemset.views.manage_tags" %}">Manage Tags</a>
    </li>
    {#    <li class="nav-item">#}
    {#      <a class="nav-link active" href="{% url "problemset.views.add_task" %}">Create Task</a>#}
    {#    </li>#}
  {% endif %}
</ul>