{% extends 'contests/layout.html' %}

{% block content %}
  <div class="container" style="padding-top: 12px">
    {% include 'contests/contests_nav.html' %}
    {% include 'contests/contest/manage/manage_contest_nav.html' %}
    <h3 class="h3"><small class="text-muted">Task</small> {{ task.name }}</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div>
      <form class="" method="POST"
            action="{% url "contests.views.manage_contest_task" contest_id=contest.pk pk=task.pk %}">
        {% csrf_token %}
        <div class="form-group mx-sm-2 mb-2">
          <label for="name" class="">Name:</label>
          <input value="{{ task.name }}" class="form-control" name="name"
                 id="name" autocomplete="off">
        </div>
        <div class="form-group mx-sm-2 mb-2">
          <label for="problem">Polygon Problem:
            {% if task.problem %}(<a href="{% url 'polygon.views.problem' pk=task.problem.pk %}">Current Problem</a>)
            {% endif %}</label>
          <select id="problem" name="problem" class="form-control" style="width: 200px">
            {% for problem in problems %}
              <option value="{{ problem.pk }}" {% if problem.pk == task.problem.pk %}selected{% endif %}>{{ problem.name }}</option>
            {% endfor %}
          </select>
        </div>
        <hr/>
        {{ form.errors }}
        <button type="submit" class="btn btn-primary mb-2 mx-2">Update</button>
        <button type="submit" class="btn btn-primary mb-2 mx-2" value="1" name="save_and_exit">Save and exit</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script defer>
      $(document).ready(function () {
          $('#problem').select2();
      });
  </script>
{% endblock %}