{% extends 'contester/layout.html' %}

{% block content %}
  <div class="container" style="padding: 10px">
    {% include 'contester/contests_nav.html' %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="{% url "contester.views.create_contest" %}">Create Contest</a>
      </li>
    </ul>
    <div>
      <table class="table table-sm table-bordered table-hover table-striped">
        <thead>
        <tr>
          <td>#</td>
          <td>Name</td>
          <th>Writers</th>
          <th>Start</th>
          <th>Length</th>
          <th>Launched</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for contest in contests %}
          <tr style="cursor: pointer"
              onclick="document.location = '{% url 'contester.views.manage_contest' pk=contest.pk %}';">
            <td>{{ contest.pk }}</td>
            <td>{{ contest.name }}</td>
            <td>-</td>
            <td>{{ contest.start_date_time|date:"d.m.y H:i" }}</td>
            <td>{{ contest.duration }} seconds</td>
            <td>{{ contest.is_launched|yesno }}</td>
            <td>
              {% if not contest.is_launched %}
                Waiting for launch
              {% else %}
                {% if contest.is_ended %}
                  Contest Ended
                {% elif contest.is_started %}
                  Running
                {% else %}
                  Waiting to take off
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}