{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150458029-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-150458029-1');
  </script>

  {#  <link rel="shortcut icon" type="image/png" href="{% static 'microchip-solid.ico' %}"/>#}
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  {#  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">#}
  <link rel="stylesheet" href="{% static "katex/katex.min.css" %}">

  <!-- The loading of KaTeX is deferred to speed up page rendering -->
  <script defer src="{% static "katex/katex.min.js" %}"></script>

  <!-- To automatically render math in text elements, include the auto-render extension: -->
  <script defer src="{% static "katex/contrib/auto-render.min.js" %}"
          onload="renderMathInElement(document.body,
          {
              delimiters: [
                  {left: '$$', right: '$$', display: true},
                  {left: '\\[', right: '\\]', display: true},
                  {left: '$', right: '$', display: false},
                  {left: '\\(', right: '\\)', display: false}
              ],
              trust: true
          });"></script>
  {% block css %}
  {% endblock %}
  <title>τ</title>
</head>
<body>
  {% block navbar %}
    <div class="navbar navbar-expand-lg navbar-light shadow">
      <a class="navbar-brand" href="{% url 'core.views.index' %}"><span
          style="font-size: 42px;line-height: 20px;">τ</span>au</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% block links %}
            <li class="nav-item">
              <a class="nav-link h5 active" href="{% url 'core.views.index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link h5" href="{% url 'contests.views.index' %}">Contests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link h5" href="{% url 'problemset.views.index' %}">Problemset</a>
            </li>
            <li class="nav-item">
              <a class="nav-link h5" href="{% url 'polygon.views.index' %}">Polygon</a>
            </li>
          {% endblock %}
        </ul>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <span class="navbar-text active">{{ user.get_full_name }}</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts.views.logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts.views.login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts.views.register' %}">Register</a>
            </li>
          {% endif %}
        </ul>

      </div>
    </div>
  {% endblock %}
  <div style="flex-grow: 1; display: flex" id="app">
    {% block content %}
    {% endblock %}
  </div>

  {% block footer %}
    <footer class="font-small blue pt-4">
      <!-- Copyright -->
      <div class="text-center py-3" style="background-color: #e7e7e7">© 2019 Copyright:
        <a href="https://github.com/ruslanjan/"> Ruslan Jankurazov :)</a>
      </div>
      <!-- Copyright -->
    </footer>
  {% endblock %}
  <script src="{% static "js/jquery-3.4.1.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/vue.js" %}"></script>
  {% block js %}
  {% endblock %}
  {% block script %}
  {% endblock %}
</body>
</html>