{% extends 'default_layout.html' %}

{% block content %}
  <div class="content" style="padding: 10px">
    <span class="text-break">
      ¿VGhpcyBzaXRlIGlzIG9uZSBvZiBteSBmaW5lc3Qgd29yay4gV3JpdGluZyBpdCB0b29rIGZyb20gbWUgZXZlcnl0aGluZy4gSG9wZSB5b3Ugd2lsbCBsaWtlIGl0OikK?
    </span>
    <h4 class="h4">FAQ</h4>
    <ul class="list-unstyled">
      <li>
        <h5 class="h5"><strong>Q:</strong> What can I do here??</h5>
        <p class="pl-4">
          Currently you can solve problemset like acmp.ru.<br/> Soon I will add problems from KZ olympiads
        </p>
      </li>
      <li>
        <h5 class="h5"><strong>Q:</strong> Any plans?</h5>
        <p class="pl-4">
          Here is the road map:
        </p>
        <ul>
          <li>Make system like polygon to create problems and test them: <span class="text-success">Done</span></li>
          <li>Cast some magic spells to make polygon more friendly and failure restart: <span
              class="text-success">Done</span></li>
          <li>Do a stress test: <span class="text-success">Done</span></li>
          <li>Make workers easy scalable: <span class="text-success">Done</span></li>
          <li>Check workers scalability: <span class="text-success">Done</span></li>
          <li>Do another stress test: <span class="text-success">Done</span></li>
          <li>Check workers security: <span class="text-warning">Some what done.</span> If you found a security issue
            please email me <span class="text-primary">ruslanjan888 gmail.com</span></li>
          <li>Make an problemset like acmp.ru: <span class="text-success">Done</span></li>
          <li>Cast magic spells on problemset: <span class="text-success">Done</span></li>
          <li>Fix ui: <span class="text-info">Rolling</span></li>
          <li>Make a cms: <span class="text-info">Starting this task</span></li>
          <li>Add more languages support: <span class="text-info">Gathering data</span></li>
        </ul>
      </li>
      <li>
        <h5 class="h5"><strong>Q:</strong> I have an Idea, how can I tell you?</h5>
        <p class="pl-4">
          Email me <span class="text-primary">ruslanjan888 gmail.com</span>
        </p>
      </li>
      <li>
        <h5 class="h5"><strong>Q:</strong> Have you used <code>ejudge</code>, <code>CMS</code> or other OJ?</h5>
        <p class="pl-4">
          No, I did not. Every thing you see here is written by me except django and some libraries but they don not have any
          relation to any OJ.
        </p>
      </li>
      <li>
        <h5 class="h5"><strong>Q:</strong> Why this site exists?</h5>
        <p class="pl-4">
          I created this site to see how far I can push boundaries of my programming skills. This
          site(system) is the most complex and hardest project I have ever done.
        </p>
      </li>
    </ul>
  </div>
{% endblock %}