{% extends 'polygon/layout.html' %}

{% block content %}
  <div class="container" style="padding-top: 12px;">
    {% include 'polygon/polygon_nav.html' %}
    {% include 'polygon/problem/problem_nav.html' %}
    <h4 class="h4">Submission # {{ submission.pk }} to Problem {{ problem.name }}</h4>
    <a class="btn btn-danger" href="{% url 'polygon.views.rejudge_submission' pk=submission.pk %}">rejudge</a>
    <hr/>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div>
      <h5 class="h5">data:</h5>
      <pre style="padding-left: 12px; background-color: rgba(232,232,232,0.97)">{{ submission.data }}</pre>
      <h6 class="h6">Verdict: {% if submission.tested %}{{ submission.verdict_message }}{% elif submission.testing %}Testing{% else %}In queue{% endif %}</h6>
    </div>
  </div>
{% endblock %}