{% extends 'problemset/layout.html' %}
{% load static %}

{% block content %}
  <div class="container" style="padding-top: 12px">
    {% include 'problemset/problemset_nav.html' %}
    {% include 'polygon/statement/render_statement.html' %}
    <hr/>
    {% if user.problemsetuserprofile %}
      <div class="card mb-3">
        <div class="card-header">Submit solution:</div>
        <div class="card-body">
          <div class="alert alert-info">
            You can write and text solution at <a href="http://arrow.ruslanjan.com" target="_blank">Arrow editor</a>
          </div>
          <form class="" method="POST" action="{% url "problemset.views.task" pk=task.pk %}">
            {% csrf_token %}
            <div class="form-group mx-sm-2 mb-2">
              <label for="submission_type">Language</label>
              <select id="submission_type" onchange="onLanguage(this.value)" required name="submission_type" class="form-control">
                {% for i in Submission.SUBMISSION_TYPES %}
                  <option value="{{ i|first }}">{{ i|last }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group mx-sm-2 mb-2">
              <label for="data" class="">Solution:</label>
              <textarea class="form-control" id="data" name="data" rows="12">{% if form.data.value %}{{ form.data.value }}{% endif %}</textarea>
            </div>
{#            <div class="form-group mx-sm-2 mb-2">#}
{#              {{ form.captcha }}#}
{#              {{ form.captcha.errors }}#}
{#            </div>#}
            <button type="submit" class="btn btn-primary mb-2 mx-2">Submit</button>
          </form>
        </div>
      </div>
      <script src="{% static 'ace/ace.js' %}"></script>
      <script>
          let editor;
          function createEditor(name) {
              // find the textarea
              let textarea = document.querySelector("form textarea[name=" + name + "]");

              // create ace editor
              editor = ace.edit();
              editor.session.setMode("ace/mode/c_cpp");
              {#editor.session.setMode();#}
              editor.setTheme("ace/theme/monokai");
              editor.container.style.height = "512px";
              editor.session.setValue(textarea.value);
              // replace textarea with ace
              textarea.parentNode.insertBefore(editor.container, textarea);
              textarea.style.display = "none";
              // find the parent form and add submit event listener
              let form = textarea;
              while (form && form.localName !== "form") form = form.parentNode;
              form.addEventListener("submit", function () {
                  // update value of textarea to match value in ace
                  textarea.value = editor.getValue()
              }, true)
          }

          function onLanguage(lang) {
              let dict = {
                  'PYTHON3.7': 'ace/mode/python',
                  'CPP17': 'ace/mode/c_cpp'
              };
              if (lang in dict) {
                  editor.session.setMode(dict[lang])
              }
          }

          createEditor("data");
      </script>
    {% else %}
      <div class="alert-warning alert">Login to submit solution</div>
    {% endif %}
  </div>
{% endblock %}
{% block script %}
{% endblock %}